name: Build and Publich image to Docker Hub

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  publish_image:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag dosisido/volume_backupper:latest
    - name: Push image to Docker Hub
      run: |
        docker login -u dosisido -p ${{ secrets.DOCKERHUB_TOKEN }}
        docker push dosisido/volume_backupper:latest
